@charset "UTF-8";

/* --------------------------------------------------------------------
	表示幅：固定
	表示順：左メニュー・メインコンテンツ・右メニュー
-------------------------------------------------------------------- */
div.wrapper_ {
	width:100%;
	margin: 0 auto;
	text-align:left;
}
div.container_ {
	clear: both;
	margin: 15px auto 50px;
	width: 1120px;
	*zoom: 1;
}
#contents + div.container_ { margin-top: 0; }
div.container_:before,div.container_:after {
	content: ' ';
	display: table;
}
div.container_:after { clear: both; }

#contents {
	margin-top: 15px;
}

#block_of_top_body {
	margin-top: -15px;
}

div.contents_ {
	clear: both;
	*zoom: 1;
}
div.contents_:before,div.contents_:after {
	content: ' ';
	display: table;
}
div.contents_:after { clear: both; }

/* メインフレーム */
div.mainframe_ {
	float: right;
	width: 950px;
	padding-right:8%;
}

/* 左メニュー */
div.leftmenuframe_ {
	float: left;
	width: 232px;
}

div.col1_,
div.order_col1_ {
	margin: 0 auto;
	width: 1120px;
	padding: 50px 0;
	min-height: 480px;
}

div.col2_ {
	padding:0 0 30px 0;
	min-height:480px;
	margin:0 auto;
}
