@charset "UTF-8";

/* --------------------------------------------------------------------
	ご注文方法の指定
-------------------------------------------------------------------- */
div.order_ {
	font-size: 1.4rem;
}

div.order_ table.method_host_ th,
div.order_ table.method_ th {
	width: 25%;
}

/* ご注文主（ログイン時） */
div.method_host_ {
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCC;
}
div.method_host_ div.host_info_ {
	margin-bottom: 10px;
	padding-left: 10px;
}
div.method_host_ .host_name_ {
}
div.method_host_ address {
}
table.method_host_ {
	margin-bottom: 20px;
	width: 100%;
}
tr#host_mail input,
tr#host_cmail input,
tr#host_addr input,
tr#host_addr2 input,
tr#host_addr3 input,
tr#host_comp input,
tr#host_dept input {
	width: 300px;
}

/**/
/* 贈り主（ログイン時） */
div.method_sender_ {
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCC;
}
div.method_sender_ div.sender_info_ {
	margin-bottom: 10px;
	padding-left: 10px;
}
div.sender_change_ {
	padding: 10px;
	margin: 0 0 10px 0;
	background: #F8F8F8;
	border: 1px solid #CCC;
	font-size: 1.2rem;
}
div.method_sender_ table.method_ {
}
table.method_sender_ {
	margin-bottom: 20px;
	width: 100%;
}
tr#sender_addr input,
tr#sender_addr2 input,
tr#sender_addr3 input,
tr#sender_comp input,
tr#sender_dept input {
	width: 300px;
}
/**/

/* 宛て先（ログイン時） */
div.method_address_ {
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCC;
}
div.addresslist_ {
	margin-bottom: 20px;
}
div.address_item_ {
	padding: 10px;
	border-bottom: 1px dotted #CCC;
	width: 940px;
	overflow: hidden;
}
div.address_item_ address {
	margin-left: 20px;
	float: left;
	display: inline;
	width: 640px;
}
div.address_item_ .address_change_ {
	float: right;
	display: inline;
	text-align: right;
	width: 160px;
}
div.address_bottom_ {
	padding: 10px 10px 0 0;
	text-align: right;
}
div.address_bottom_ img {
}

table.destgoodslist_ {
	margin-bottom: 20px;
}
div.dest_select_type_ {
	margin-bottom: 10px;
	padding: 10px;
	background: #F8F8F8;
	border: 1px solid #CCC;
}
/**/

/**/

/* 配送方法 */
div.method_box_ {
	margin-bottom: 20px;
}
div.method_box_ h3 {
	margin: 0 0 10px 0;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	background: #F0F0F0;
}
div.method_box_ div.method_box_content_ {
	padding-left: 10px;
	font-size: 1.4rem;
}
/**/
/* 配送希望日時指定 */
#method_date dl {
	margin: 0 0 10px 0;
}
#method_date dl dt {
	float: left;
	display: inline;
	font-weight: bold;
}
#method_date dl dd {
	margin-left: 8em;
	*zoom: 1;
}
#method_date dl dd:before,#method_date dl dd:after { content: ' '; display: table; }
#method_date dl dd:after { clear: both; }
#method_date dl dd input,
#method_date dl dd label { float: left; }
#method_date dl dd input { margin-top: 4px; }
#method_date dl dd input:nth-of-type(7) { clear: both; }

/**/
/* ポイント */
.currentpoint_ {
	margin-bottom: 10px;
}
div.point_use_ {
	margin-bottom: 10px;
	padding: 10px;
	background: #F8F8F8;
	border: 1px solid #CCC;
}
/**/
/* 拡張情報 */
div.method_salesappend_ {
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCC;
}
table.salesappend_ {
	width: 100%;
	margin-bottom: 20px;
}
table.salesappend_ td span {
	display: block;
}
table.salesappend_ td.salesappend_radio input,
table.salesappend_ td.salesappend_checkbox input {
	display: block;
	float: left;
	clear: left;
}
table.salesappend_ td.salesappend_radio label,
table.salesappend_ td.salesappend_checkbox label {
	display: block;
	clear: none;
	margin-left: 20px;
	margin-top/*\**/: 4px\9;
}
div.delivery_dest_ {
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCC;
}
/* 利用可能クーポン */
#available_coupon {
	width: 860px;
	padding-bottom: 20px;
	margin: 0 auto;
	background: #fff;
}

.available_coupon_ {
	width: 820px;
}
.available_coupon_ {
	margin-bottom: 10px;
}

.available_coupon_ tr {
	border-right: 1px dotted #ccc;
	border-left: 1px dotted #ccc;
}

.available_coupon_ th {
	vertical-align: middle;
}

.available_coupon_ td {
	vertical-align: middle;
	background: #ffc;
}

.available_coupon_ .coupon_ {
	width: 140px;
	font-weight: bold;
}
.available_coupon_ .name_ {
	font-weight: bold;
	word-break: break-all;
}
.available_coupon_ .bonus_type_ {
	width: 130px;
	font-weight: bold;
}
.available_coupon_ .select_ {
	width: 180px;
	text-align: center;
}
.available_coupon_ .term_ {
	font-weight: bold;
}
.available_coupon_ .freespace_ {
	word-break: break-all;
}
.available_coupon_ .select_coupon_:hover {
	cursor: pointer !important;
}

#available_coupon .navipage_ {
	padding-top: 10px;
	padding-right: 20px;
}

#available_coupon .navipage_ a[href=''] {
	display: none;
}

#available_coupon .close_button_ {
	padding: 5px 20px 5px 0px;
	text-align: right;
}
#available_coupon .close_button_ img {
	width: 45px;
	height: 45px;
	color: #000;
}

#available_coupon .close_button_ img:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* --------------------------------------------------------------------
	ご注文内容の確認
-------------------------------------------------------------------- */
div.spandual_ {
	margin-bottom: 20px;
	padding-bottom: 20px;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dotted #CCC;
}
div.spandual_ table {
	width: 100%;
}
div.spandual_ .leftfloat_ {
	width: 620px;
}
div.spandual_ .rightfloat_ {
	width: 320px;
}
div.spandual_ .rightfloat_ table.formdetail_ {
	width: 100%;
}
table.estimate_.sales_ th,
table.estimate_method_ th {
	width: 12em;
}
table.estimate_.sales_ td,
table.estimate_method_ td {
	text-align: right;
}
table.host_ {
	margin-bottom: 20px;
}
div.order_ .method_addr_ {
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 1.4rem;
}

table.card_,
table.convinience_{
	width: 100%;
}
table.card_ label {
	margin: 0 20px 0 5px;
}
table.convinience_ th {
	width: 16em;
}

div.zero_alert_ {
	color: #CC0000;
}
/* お支払い方法 */
div.order_ table.estimate_method_ {
	width:250px;
}
div.order_ table.estimate_method_ th {
	width:50%;
	text-align:left;
}
div.order_ table.estimate_method_ td {
	width:50%;
	text-align:right;
}
div.order_ table.method_sales_detail_append_ {
	border:none;
}
div.order_ table.method_sales_detail_append_ td {
	border:none;
}
div.order_ table.goodslist_ {
	text-align:left;
}
.pointpay_num_bg_ {
	background-color: #dedede;
}

/* お届け先 */
div.order_ table.dest_ {
	width:100%;
}
div.order_ table.destgoodslist_ {
	width:100%;
}
div.order_ table.destgoodslist_ .img_ {
	max-width: 180px;
}
div.order_ table.destgoodslist_ .method_img_ {
	width: 180px;
}
div.order_ table.destgoodslist_ td.method_qty_ {
	width: 60px;
	text-align: center;
}
div.order_ table.card_ th {
	text-align:left;
}
div.order_ table.card_ td {
	text-align:left;
}

/* order method.aspx */
div.order_ table.method_ {
	width: 100%;
}

/*配送先*/
div.order_ .method_method_ {
	text-align:left;
}
/* order order.aspx */
div.order_ table.order_ {
	width: 100%;
	margin: 0 auto 20px auto;
}
div.order_ table.order_ th {
	width: 25%;
}


/* カードで支払う */
div.order_ table.formdetailcard_ {
	margin-bottom: 20px;
}
div.order_ table.formdetailcard_ th {
	width: 13em;
}

/* 注文拡張項目 */
table.salesappend_ th {
	width: 30%;
}

div.order_ table.formlist_ .img_ {
	max-width: 180px;
}
div.order_ table.formlist_ .goods_ {
	width: 180px;
}

/* キャンペーン適用 */
div.order_ p.campaign_info_ {
	color:#CC0000;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* ノベルティ */
div.order_ .thum_box_wrapper_{
	overflow: hidden;
}
div.order_ .thum_box_ {
	float: left;
	width: 900px;
	padding: 10px 0 10px 20px;
}
div.order_ .thum_line_ {
	overflow: hidden;
	margin-bottom: 20px;
}
div.order_ .thum_item_ {
	float: left;
	width: 150px;
	text-align: center;
	margin-right: 10px;
}
div.order_ .thum_item_ label{
	display: block;
}
div.order_ .thum_item_ img{
	display: block;
	margin-bottom: 10px;
}
div.order_ .thum_item_ span.price_{
	display: block;
	margin-bottom: 10px;
	padding: 5px;
}
div.order_ .thum_item_ span.thum_info_text_{
	display: none;
}

/* 注文同時会員登録 */
div.order_ span.point_ {
	color: #f00;
	font-size: 16px;
	font-weight: bold;
}

div.order_ table.formdetailcust_ {
	width: 100%;
}

div.order_ table.formdetailcust_ th {
	width: 20%;
}

div.order_ table.formdetailcust_ a {
	text-decoration: underline;
}

/* --------------------------------------------------------------------
	ご注文完了
-------------------------------------------------------------------- */
div.new_customer_ {
	width: 700px;
	margin:30px Auto Auto Auto;
}

/* --------------------------------------------------------------------
	ギフト注文 配送先の選択
-------------------------------------------------------------------- */

.order_gift_ .dest_list_ {
	background: #F0F0F0;
}
.order_gift_ .dest_list_ .btn_checkall_ {
	padding: 10px 10px 0;
}
.order_gift_ .dest_list_ .address_customer_{
	padding: 10px;
}
.order_gift_ .delivery_dest_ .dest_ttl {
	position:relative;
}
.order_gift_ .delivery_dest_ .dest_ttl .btn_deldest_{
	position:absolute;
	right:5px;
	top:3px;
}
.order_gift_ .dest_list_ .address_item_ {
	border: none;
	width: 920px;
	background-color: #FFF;
	border-bottom: 1px solid #ddd;
}
.order_gift_ .address_book_list_ .address_item_ {
	border: none;
	background-color: #FFF;
	border-bottom: 1px solid #ddd;
}
.order_gift_ .dest_list_ .address_book_list_ {
	margin: 0 10px 10px 10px;
}
.order_gift_ .dest_list_ .address_book_list_ .address_item_ {
	border-bottom: 1px solid #ddd;
}
.order_gift_ .dest_list_ .address_item_ address {
	width: 800px;
	margin-left: 30px;
}
.order_gift_ .dest_list_ .address_item_ .address_title_ {
	font-size: 14px;
	margin-bottom: 7px;
	padding: 5px 5px 0 5px;
}
.order_gift_ .dest_list_ .btn_add_addr_ {
	background: #F0F0F0;
	padding: 0 10px 10px 25px;
	margin-bottom: 20px;
}
.order_gift_ .form_senderinfo_ .btns_edit_customerinfo_ {
	text-align: right;
	margin-bottom: 10px;
	overflow: hidden;
}
.order_gift_ .form_senderinfo_ .btns_edit_customerinfo_ input {
	padding-left: 10px;
	display: block;
	float: right;
}
.order_gift_ div.method_sender_ .address_item_{
	border-bottom: none;
	margin-bottom: 10px;
}
.order_gift_ .method_sender_ .sender_info_ {
	padding: 0;
	border: none;
}

/* --------------------------------------------------------------------
	ギフト注文 配送先商品追加画面
-------------------------------------------------------------------- */
.order_gift_ label {
	cursor: pointer;
}
.order_gift_ div.delivery_dest_add_ {
	text-align: right;
	margin-bottom: 20px;
}
.order_gift_ h3.top_massage_ {
	font-size: 14px;
	font-weight: bold;
}
.order_gift_ .add_goods_list_ {
	padding: 15px;
}
.order_gift_ .delivery_dest_{
	margin-bottom: 30px;
	background: #F0F0F0;
}
.order_gift_ .delivery_dest_ .common_headline2_ {
	margin: 0;
}
.order_gift_ .highlight_ {
	background: #FEE;
	border: 1px solid #FFC8C8;
}
.order_gift_ .delivery_dest_ .address_item_ {
	padding-bottom: 0;
	border: none;
}
.order_gift_ .delivery_dest_ .address_item_ .btn_deldest_{
	float: right;
	padding: 10px;
}
.order_gift_ div.delivery_dest_ {
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCC;
}
.order_gift_ div.delivery_dest_ .dest_goods_ {
	margin: 10px;
	padding: 10px;
	background: #FFF;
}
.order_gift_ div.delivery_dest_ .dest_goods_ h3.headline3_ {
	font-weight: bold;
	padding: 0 5px 10px 5px;
}
.order_gift_ .delivery_dest_ .total_dest_price_ {
	overflow: hidden;
	padding: 0 10px 10px 10px;
}
.order_gift_ .delivery_dest_ .total_dest_price_ table{
	float: right;
	background: #FFF;
}
.order_gift_ .delivery_dest_ .total_dest_price_ table th,
.order_gift_ .delivery_dest_ .total_dest_price_ table td{
	padding: 10px 20px;
	border: 1px solid #DDD;
}
.order_gift_ .delivery_dest_ .total_dest_price_ table td.btns_ {
	width: 60px;
	vertical-align: middle;
}
.order_gift_ .delivery_dest_ .total_dest_price_ table td{
	width: 100px;
	text-align: right;
}
.order_gift_ .goodsinfo_box_{
	width: 100%;
	margin-bottom: 10px;
}
.order_gift_ .goodsinfo_box_ .btns_,
.order_gift_ .noshi_box_ .btns_ {
	width: 60px;
    padding-bottom: 0;
	vertical-align: middle;
}
.order_gift_ .goodsinfo_box_ .btns_ input{
	display: block;
	margin-bottom: 5px;
}
.order_gift_ .goodsinfo_box_ th,
.order_gift_ .goodsinfo_box_ td{
	border: 1px solid #ddd;
	padding: 10px;
}
.order_gift_ .goodsinfo_box_ td.goods_price_,
.order_gift_ .goodsinfo_box_ td.goods_count_,
.order_gift_ .goodsinfo_box_ td.goods_total_,
.order_gift_ .goodsinfo_box_ td.goods_wrap_{
    text-align: center;
}
.order_gift_ .goodsinfo_box_ th{
	background: #FCFCFC;
	font-weight: bold;
}
.order_gift_ .goodsinfo_box_ td.goods_name_ img.img_ {
	max-width: 180px;
}

.order_gift_ .noshi_box_{
	width: 100%;
}
.order_gift_ .noshi_box_ th,
.order_gift_ .noshi_box_ td{
	border: 1px solid #ddd;
	padding: 10px;
}
.order_gift_ .noshi_box_ th{
	background: #FCFCFC;
	font-weight: bold;
}
.order_gift_ .select_dest_goods_box_{
	margin: 10px;
	background: #FFF;
	padding: 10px 10px 10px 10px;
}
.order_gift_ .select_dest_goods_box_ .btn_add_goods_{
	margin-bottom: 10px;
}
.order_gift_ .select_dest_goods_box_ .add_goods_list_ table{
	width: 100%;
}
.order_gift_ .select_dest_goods_box_ .add_goods_list_ td{
	padding: 7px 10px 0 0;
}
.order_gift_ .select_dest_goods_box_ .add_goods_list_ td.goods_name_{
	width: 600px;
}
.order_gift_ .select_dest_goods_box_ .add_goods_list_ td.qty_{
	text-align: right;
}
.order_gift_ .select_dest_goods_box_ .add_goods_list_ td.qty_ input{
	padding: 5px;
	width: 3em;
	text-align: right;
}
.order_gift_ .select_dest_goods_box_ .btn_add_checked_goods_{
	text-align: center;
	padding: 15px 15px 0;
}
.order_gift_ .noshi_box_noselect_{
	width: 100%;
}
.order_gift_ .noshi_box_noselect_ th{
	padding: 15px 0 10px;
	text-align: center;
}
.order_gift_ .noshi_box_noselect_ td{
	padding: 5px 10px 15px 10px;
	text-align: center;
}
.order_gift_ #method_date table {
	width: 100%;
	border-top: #E3E1D1 1px solid;
	border-bottom: #E3E1D1 1px solid;
	border-collapse: collapse;
	background: white;
	font-size: 12px;
}
.order_gift_ #method_date table th {
	width: 120px;
	padding: 15px;
	border-top: #E3E1D1 1px solid;
	border-bottom: #E3E1D1 1px solid;
	border-collapse: collapse;
}
.order_gift_ #method_date table td {
	padding: 15px 0;
	border-top: #E3E1D1 1px solid;
	border-bottom: #E3E1D1 1px solid;
	border-collapse: collapse;
}
.order_gift_ #method_date table li {
	padding: 5px 0;
}
#method_pay .method_box_content_{
	line-height: 2;
}
.order_gift_ .alertbox_{
	padding: 20px;
}
.order_gift_ .alertbox_ h2{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
	text-align: center;
	color: #F00;
}
.order_gift_ .alertbox_ p{
	text-align: center;
	color: #F00;
	padding: 3px;
}
.order_gift_ .alertbox_ p a{
	color: #F00;
	text-decoration: underline;
}
.order_gift_ .goods_child_list_ div {
	padding: 0px 0px 0px 25px;
}
/* --------------------------------------------------------------------
	ギフト注文 のし・ラッピング設定画面
-------------------------------------------------------------------- */
.order_gift_ .section_ {
	margin-bottom: 30px;
	background: #FCFCFC;
}
.order_gift_ .section_ label {
	padding: 0;
}
.order_gift_ .section_ h3{
	margin: 0 0 10px 0;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	background: #F0F0F0;
}
.order_gift_ .section_ ul{
	overflow: hidden;
	padding: 10px 20px;
}
.order_gift_ .section_ ul li{
	float: left;
}
.order_gift_ .section_ ul li label{
	display: block;
	margin-right: 20px;
	text-align: center;
}
.order_gift_ .section_ ul li label img{
	display: block;
	margin-bottom: 10px;
}
.order_gift_ .section_ .noshi_area_ .noshi_area_wrap_ .need_noshi_area_{
	margin-bottom: 30px;
}
.order_gift_ .section_ .noshi_area_ .noshi_area_wrap_ .need_noshi_area_ ul{
	overflow: hidden;
}
.order_gift_ .section_ .noshi_area_ .noshi_area_wrap_ .need_noshi_area_ ul li{
	float: left;
}
.order_gift_ .section_ .div_area_ {
	margin-bottom: 30px;
}
.order_gift_ .section_ .thum_box_wrapper_{
	overflow: hidden;
}
.order_gift_ .section_ .thum_box_ {
	float: left;
	width: 480px;
	padding: 10px 0 10px 20px;
}
.order_gift_ .section_ .thum_info_ {
	float: right;
	width: 310px;
	padding: 10px 20px 0 0;
}
.order_gift_ .section_ .thum_info_ .price_{
	padding: 10px 0;
}
.order_gift_ .section_ .thum_line_ {
	overflow: hidden;
	margin-bottom: 20px;
}
.order_gift_ .section_ .thum_item_ {
	float: left;
	width: 150px;
	text-align: center;
	margin-right: 10px;
}
.order_gift_ .section_ .thum_item_ label{
	display: block;
}
.order_gift_ .section_ .thum_item_ img{
	display: block;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
}
.order_gift_ .section_ .thum_item_ span.price_{
	display: block;
	margin-bottom: 10px;
	padding: 5px;
}
.order_gift_ .section_ .thum_item_ span.thum_info_text_{
	display: none;
}
.order_gift_ .section_ .free_input_{
	padding: 0 10px 10px 10px;
	margin: 0 10px 30px;
}
.order_gift_ .section_ .free_input_ input{
	padding: 5px;
}
.order_gift_ .section_ .divnameprint {
	margin-bottom: 30px;
}
.order_gift_ .section_ .divnameprint .disabled_ {
	background-color:#DEDEDE;
}

.order_gift_ .section_ .input_detail_ {
	margin: 0 20px 30px;
}
.order_gift_ .section_ .input_detail_ td {
	padding: 5px;
}
.order_gift_ .section_ .input_detail_ td input {
	padding: 5px;
}
.noshi_default_ {
	clear: both;
	display: none;
}

/* --------------------------------------------------------------------
	注文画面　モーダル風ウィンドウ
-------------------------------------------------------------------- */
.order_modal_ {
	display: none;
	width: 568px;
	position: fixed;
	padding-top: 47px;
	top: 190px;
	right: -568px;
	background:url(../img/sys/bg_order_modal_top.png) no-repeat top left;
	z-index: 1000;
}
.order_modal_ h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 28px;
}
.order_modal_ p {
	margin-bottom: 30px;
}
.order_modal_inner {
	padding: 0 36px 30px 49px;
	background: url(../img/sys/bg_order_modal_bottom.png) no-repeat bottom left;
}
.order_modal_btn {
	letter-spacing: -0.4em;
}
.order_modal_btn li {
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
}
.order_modal_btn li:first-child {
	margin-right: 11px;
}
.order_modal_ .close {
	background: #ffffff url(../img/sys/button/order_modal_close.png) no-repeat bottom left;
	position: absolute;
	display: block;
	top: 30px;
	right: 22px;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	cursor: pointer;
}
