@charset 'UTF-8';
/* ----フリーページ　共通---- */
div.freepage_ {}
div.freepage_narrow_ {padding: 0 60px;}
div.freepage_ .box_ {margin-bottom: 20px;width: 100%;overflow: hidden;}
.registered {position: relative;top: -.1em;display: inline-block;margin: 0 .1em;-webkit-transform: scale(1.4);transform: scale(1.4);}
.registered.trade {-webkit-transform: scale(1);transform: scale(1);}
/* ----フリーページ　会社概要---- */
#company {}
#company table {width: 100%;}
#company table th {width: 8em;vertical-align: top;}
#company table td {vertical-align: top;}
/* ----フリーページ　プライバシーポリシー---- */
#privacy {}
#privacy p {margin-bottom: 10px;text-indent: 1em;}
#privacy ol {border-top: 1px dotted #CCC;}
#privacy ol li {padding: 10px 0;border-bottom: 1px dotted #CCC;}
/* ----フリーページ　プライバシーポリシー（単独）---- */
#privacy_single {margin-bottom: 90px;}
#privacy_single .content {}
#privacy_single .content a {text-decoration: underline;}
#privacy_single .box {margin-top: 42px;font-size: 1.3rem;line-height: 1.8;}
#privacy_single .box:first-child {margin-top: 0;}
#privacy_single .box .title {margin-bottom: 30px;padding-bottom: 16px;border-bottom: solid #000 1px;font-size: 1.6rem;font-weight: bold;line-height: 1.2;}
#privacy_single .box .lead {margin-bottom: 36px;}
#privacy_single .box .decimal {list-style: none;}
#privacy_single .box .decimal > li {margin: 20px 0 0 1.6em;list-style: decimal;}
#privacy_single .box .decimal > li:first-child {margin-top: 0;}
#privacy_single .box .decimal > li dl {}
#privacy_single .box .decimal > li dl dt {}
#privacy_single .box .decimal > li dl dd {}
#privacy_single .box .decimal > li ul {}
#privacy_single .box .decimal > li ul li {margin-left: 0;padding-left: 1em;text-indent: -1em;list-style: none;}
#privacy_single .box .list {list-style: none;}
#privacy_single .box .list > li {margin: 36px 0 0 1.6em;list-style: decimal;font-weight: bold;}
#privacy_single .box .list > li:first-child {margin-top: 0;}
#privacy_single .box .list > li dl {}
#privacy_single .box .list > li dl dt {}
#privacy_single .box .list > li dl dd {margin-left: -1.6em;font-weight: normal;}
#privacy_single .box table {margin: 20px 0;border-top: solid #d1d1d1 1px;border-left: solid #d1d1d1 1px;border-collapse: collapse;}
#privacy_single .box table th,#privacy_single .box table td {padding: 8px 15px;border-right: solid #d1d1d1 1px;border-bottom: solid #d1d1d1 1px;text-align: left;font-weight: normal;line-height: 1.2;}
#privacy_single .box table thead th {background: #f4f4f4;}
#privacy_single .box table td {}
#privacy_single .box .all {text-align: right;}
#privacy_single .inquiry {margin-top: 30px;font-size: 1.3rem;}
#privacy_single .sign {margin-top: 30px;text-align: right;font-size: 1.3rem;}
/* ----新着情報---- */
#newitem {padding-bottom: 90px;}
#newitem .list_newitem {margin-left: -32px;color: #fff;}
#newitem .event_ {margin-left: -32px;width: auto;}
#newitem .list_newitem_item {position: relative;float: left;width: 352px;margin: 0 0 32px 32px;}
#newitem .event_ > div {display: none;}
#newitem .event_ > .list_newitem_item {display: block;}
#newitem .list_newitem_item:nth-child(3n) {}
#newitem .list_newitem_item:nth-child(-n+3) {}
#newitem .list_newitem_item:nth-child(3n+1) {}
#newitem .list_newitem_item a {display: block;color: #fff;}
#newitem .list_newitem_item a::before {content: "";position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;background: rgba(0, 0, 0, .5);opacity: 0;-webkit-transition: opacity 300ms ease;transition: opacity 300ms ease;}
#newitem .list_newitem_item a:hover::before {opacity: 1;}
#newitem .list_newitem_item .wrapper_text {position: absolute;top: 50%;left: 0;width: 90%;max-height: 100%;padding: 0 5%;text-align: center;overflow: auto;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
#newitem .list_newitem_item .text {font-size: 1.6rem;font-weight: bold;}
#newitem .btn_more {display: none;margin-top: 0;}
#newitem .btn_more a::after {width: 10px;height: 6px;margin-top: 5px;background: url("../img/usr/arrow_down1.png") no-repeat center;}
#newitem .btn_more a:hover::after {background-image: url("../img/usr/arrow_down3.png");}
/* ----ローンチカレンダー---- */
#launchcalendar {padding-bottom: 90px;}
#launchcalendar .list_launchcalendar {margin: 0 0 0 32px;color: #fff;}
#launchcalendar .list_launchcalendar_item {position: relative;float: left;width: calc(33.33333% - 32px);margin: 0 32px 32px 0;}
#launchcalendar .event_ > div {display: none;}
#launchcalendar .event_ > .list_launchcalendar_item {display: block;}
#launchcalendar .list_launchcalendar_item:nth-child(-n+3) {}
#launchcalendar .list_launchcalendar_item:nth-child(3n+1) {}
#launchcalendar .list_launchcalendar_item a {display: block;color: #fff;}
#launchcalendar .list_launchcalendar_item a::before {content: "";position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;background: rgba(0, 0, 0, .5);opacity: 0;-webkit-transition: opacity 300ms ease;transition: opacity 300ms ease;}
#launchcalendar .list_launchcalendar_item a:hover::before {opacity: 1;}
#launchcalendar .list_launchcalendar_item .wrapper_text {position: absolute;bottom: 0;left: 0;width: 90%;max-height: 100%;padding: 10px 5%;background: rgba(0, 0, 0, .8);text-align: center;line-height: 1.4;overflow: auto;}
#launchcalendar .list_launchcalendar_item .date {margin-bottom: 2px;font-size: 1.6rem;font-weight: bold;}
#launchcalendar .list_launchcalendar_item .text {font-size: 1.3rem;}
#launchcalendar .btn_more {display: none;margin-top: 0;}
#launchcalendar .btn_more a::after {width: 10px;height: 6px;margin-top: 5px;background: url("../img/usr/arrow_down1.png") no-repeat center;}
#launchcalendar .btn_more a:hover::after {background-image: url("../img/usr/arrow_down3.png");}
/* ----ニュース---- */
#newslist #top_news {background-image: url("../img/news/bg_news.png");background-position: right -75px top 45px;}
#newslist #top_news .list {padding: 0;width: auto;background: none;}
#newslist #top_news .list .common_headline1_,#newslist #top_news .list .navipage_.top_ {display: none;}
#newslist #top_news .list div.topicdetaillist_ {margin: 0 auto;padding: 10px 24px;width: 752px;background: #fff;}
/*#newslist #top_news .list div.topicdetaillist_ .topicline_ {}
#newslist #top_news .list div.topicdetaillist_ .topicline_ li {padding: 12px 0;background: none;border-bottom: dotted #dadada 1px;font-size: 1.3rem;font-weight: bold;}
#newslist #top_news .list div.topicdetaillist_ .topicline_ li:last-child {border-bottom: none;}
#newslist #top_news .list div.topicdetaillist_ .topicline_ li a {display: inline-block;vertical-align: top;}
*/
#newslist #top_news .list div.topicdetaillist_ .topicline_ li {padding: 0;background: none;border: none;}
#newslist #top_news .list .navipage_ {margin: 30px 0 0;text-align: center;font-size: 1.2rem;color: #fff;}
#newslist #top_news .list .navipage_ > a,#newslist #top_news .list .navipage_ .navipage_now_ {display: inline-block;margin: 0 4px;width: 22px;height: 22px;border: solid #fff 1px;line-height: 22px;color: #fff;}
#newslist #top_news .list .navipage_ .navipage_sum_ {display: inline-block;padding-right: 10px;width: auto;border: none;}
#newslist #top_news .list .navipage_ .navipage_now_ {background: #fff;color: #000;}
#newslist #top_news .list .navipage_ .navipage_reverse_,#newslist #top_news .list .navipage_ .navipage_forward_ {display: inline-block;margin: 0;width: 7px;height: 24px;vertical-align: top;}
#newslist #top_news .list .navipage_ .navipage_reverse_ .navipage_prev_ a,#newslist #top_news .list .navipage_ .navipage_forward_ .navipage_next_ a {display: block;width: 100%;height: 100%;background-position:  center center;background-repeat: no-repeat;text-indent: 100%;white-space: normal;overflow: hidden;}
#newslist #top_news .list .navipage_ .navipage_reverse_ .navipage_prev_ a {background-image: url(../img/usr/pager_prev2.png);}
#newslist #top_news .list .navipage_ .navipage_forward_ .navipage_next_ a {background-image: url(../img/usr/pager_next2.png);}
#newslist .pager {margin: 30px 0 0;}
#newslist .pager .navipage_forward_ {float: none;width: auto;text-align: center;}
#newslist .pager .navipage_forward_ > span,#newslist .pager .navipage_forward_ > a {border-color: #fff;color: #fff;}
#newslist .pager .navipage_forward_ .navipage_now_ {background: #fff;color: #000;}
#newslist .pager .navipage_forward_ .navipage_next_ a {background-image: url(../img/usr/pager_prev2.png);}
#newslist .pager .navipage_forward_ .navipage_last_ a {background-image: url(../img/usr/pager_next2.png);}
/* ----カテゴリー---- */
#categorylist {}
#categorylist .block {margin: 0 0 30px;}
#categorylist .title_block {margin: 0 0 40px;padding: 0 0 .8em;border-bottom: 1px solid #000;font-size: 1.6rem;font-weight: bold;}
#categorylist .title_section {margin: 0 0 .6em;font-size: 1.6rem;font-weight: bold;}
#categorylist .title_section a::before {content: "";display: inline-block;width: 5px;height: 8px;margin: -3px 5px 0 0;background: url("../img/usr/arrow2.png") no-repeat center;background-size: 5px auto;vertical-align: middle;-webkit-transition: opacity 300ms ease;transition: opacity 300ms ease;}
#categorylist .title_section a:hover::before {opacity: .7;}
#categorylist .list_categorysearch {}
#categorylist .list_categorysearch_item {float: left;margin: 0 0 45px;padding: 0 25px 0 44px;border-left: 1px solid #e9e9e9;}
#categorylist .list_categorysearch .title_section {font-size: 1.4rem;}
#categorylist .list_categorysearch_item.col1 {width: 155px;padding-left: 0;border: none;}
#categorylist .list_categorysearch_item.col2 {width: 213px;}
#categorylist .list_categorysearch_item.col3 {width: 101px;}
#categorylist .list_categorysearch_item.col4 {width: 152px;}
#categorylist .list_categorysearch_item.col5 {width: 194px;}
#categorylist .list_categorysearch_item.col6 {width: 323px;}
#categorylist .list_goods {font-size: 1.3rem;}
#categorylist .list_goods_item {margin: 0 0 .6em;}
#categorylist .list_goods.accessory {float: left;}
#categorylist .list_goods.accessory:first-of-type {width: 38%;margin-right: 6%;}
#categorylist .list_goods.accessory:last-of-type {width: 56%;}
#categorylist .section {margin: 0 0 40px;}
#categorylist .text_desc {font-size: 1.4rem;margin: 0 0 1.5em;}
#categorylist .list_team {}
#categorylist .list_team[data-js-list-team] {display: none;}
#categorylist .list_team_item {float: left;width: 175px;margin: 0 14px 14px 0;text-align: center;}
#categorylist .list_team_item:nth-child(6n) {margin-right: 0;}
#categorylist .list_team_item:nth-child(6n+1) {clear: both;}
#categorylist .list_team_item .image {margin: 0 0 5px;}
#categorylist .list_team_item .text {font-size: 1.1rem;}
#categorylist .list_team_item a:hover img {opacity: .7;-webkit-transition: opacity 300ms ease;transition: opacity 300ms ease;}
#categorylist .btn_more {margin: 20px auto 55px;}
#categorylist .btn_more a::after {width: 10px;height: 6px;margin-top: 5px;background: url("../img/usr/arrow_down1.png") no-repeat center;}
#categorylist .btn_more a:hover::after {background-image: url("../img/usr/arrow_down3.png");}
#categorylist .btn_more a.is_opened::after {background-image: url("../img/usr/arrow_up1.png");}
#categorylist .btn_more a.is_opened:hover::after {background-image: url("../img/usr/arrow_up3.png");}
/* ----特集一覧---- */
#featurelist {padding-bottom: 90px;}
#featurelist .list_featurelist {}
#featurelist .event_ {margin-left: -32px;width: auto;}
#featurelist .list_featurelist_item {float: left;width: 544px;margin: 0 0 32px 32px;text-align: center;}
#featurelist .event_ > div {display: none;}
#featurelist .event_ > .list_featurelist_item {display: block;}
#featurelist .list_featurelist_item:nth-child(2n) {}
#featurelist .list_featurelist_item:nth-child(-n+2) {}
#featurelist .list_featurelist_item:nth-child(2n+1) {}
#featurelist .list_featurelist_item a {display: block;}
#featurelist .list_featurelist_item .image {position: relative;margin: 0 0 10px;}
#featurelist .list_featurelist_item .image::before {content: "";position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;background: rgba(0, 0, 0, .5);opacity: 0;-webkit-transition: opacity 300ms ease;transition: opacity 300ms ease;}
#featurelist .list_featurelist_item a:hover .image::before {opacity: 1;}
#featurelist .list_featurelist_item .wrapper_text .text {font-size: 1.6rem;font-weight: bold;}
#featurelist .list_featurelist_item .wrapper_text .date {font-size: 1.3rem;color: #999;}
#featurelist .btn_more {display: none;margin-top: 0;}
#featurelist .btn_more a::after {width: 10px;height: 6px;margin-top: 5px;background: url("../img/usr/arrow_down1.png") no-repeat center;}
#featurelist .btn_more a:hover::after {background-image: url("../img/usr/arrow_down3.png");}
/* ----特集詳細---- */
#featuredetail {margin-top: -50px;padding-bottom: 30px;}
#featuredetail .featuredetail_block {margin: 50px 0;}
#featuredetail .featuredetail_block.gray {padding: 60px 0;background: #5d5d5d;color: #fff;}
#featuredetail .featuredetail_block.gray a {color: #fff;}
#featuredetail .mainimage {position: relative;height: 560px;overflow: hidden;}
#featuredetail .mainimage img {position: absolute;left: 0;top: 50%;width: 100%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
#featuredetail .featuredetail_title {margin-bottom: 1em;font-size: 3.2rem;font-weight: bold;text-align: center;}
#featuredetail .featuredetail_heading {margin-bottom: 1em;font-size: 2.4rem;font-weight: bold;}
#featuredetail .featuredetail_text {margin: 1.5em 0;font-size: 1.6rem;}
#featuredetail .btn_item a {background: #000;color: #fff;}
#featuredetail .btn_item a::after {background-image: url("../img/usr/arrow3.png");}
#featuredetail .btn_item a:hover {background: none;color: #000;}
#featuredetail .btn_item a:hover::after {background-image: url("../img/usr/arrow2.png");}
#featuredetail .featuredetail_text.textlink {font-weight: bold;}
#featuredetail .featuredetail_text.textlink a {text-decoration: underline;}
#featuredetail .featuredetail_text.textlink a::before {content: "";display: inline-block;width: 6px;height: 12px;margin: 0 5px 0 0;background: url("../img/usr/arrow5.png") no-repeat left center;}
#featuredetail .featuredetail_text.textlink a:hover::before {background-image: url("../img/usr/arrow4.png");}
#featuredetail .featuredetail_image_full {}
#featuredetail .featuredetail_image_full + .featuredetail_image_full {margin-top: 32px;}
#featuredetail .featuredetail_image_full img {width: 100%;}
#featuredetail .featuredetail_list_item {float: left;}
#featuredetail .featuredetail_list_style1 .featuredetail_list_item {width: 544px;margin: 32px 32px 0 0;}
#featuredetail .featuredetail_list_style1 .featuredetail_list_item:nth-child(2n) {margin-right: 0;}
#featuredetail .featuredetail_list_style1 .featuredetail_list_item:nth-child(-n+2) {margin-top: 0;}
#featuredetail .featuredetail_list_style1 .featuredetail_list_item:nth-child(2n+1) {clear: both;}
#featuredetail .featuredetail_list_style2 .featuredetail_list_item {width: 352px;margin: 32px 32px 0 0;}
#featuredetail .featuredetail_list_style2 .featuredetail_list_item:nth-child(3n) {margin-right: 0;}
#featuredetail .featuredetail_list_style2 .featuredetail_list_item:nth-child(-n+3) {margin-top: 0;}
#featuredetail .featuredetail_list_style2 .featuredetail_list_item:nth-child(3n+1) {clear: both;}
#featuredetail .columnbox {display: table;}
#featuredetail .columnbox + .columnbox {margin-top: 32px;}
#featuredetail .columnbox .imagearea,#featuredetail .columnbox .textarea {display: table-cell;vertical-align: middle;}
#featuredetail .columnbox .imagearea {width: 600px;}
#featuredetail .columnbox .textarea {width: 480px;padding: 0 40px 0 0;}
#featuredetail .columnbox .imagearea + .textarea {padding: 0 0 0 40px;}
#featuredetail .itemlist_style1 .itemlist_item,#featuredetail .itemlist_style2 .itemlist_item {float: left;margin: 32px 32px 0 0;text-align: center;}
#featuredetail .itemlist_style1 .itemlist_item_2,#featuredetail .itemlist_style2 .itemlist_item_2 {float: left;margin: 32px 32px 0 0;text-align: center;}
#featuredetail .itemlist_style1 .itemlist_item {width: 352px;}
#featuredetail .itemlist_style1 .itemlist_item_2 {width: 520px;}
#featuredetail .itemlist_style2 .itemlist_item {width: 256px;}
#featuredetail .itemlist_style2 .itemlist_item_2 {width: 256px;}
#featuredetail .itemlist_style1 .itemlist_item:nth-child(3n),#featuredetail .itemlist_style2 .itemlist_item:nth-child(4n) {margin-right: 0;}
#featuredetail .itemlist_style1 .itemlist_item_2:nth-child(3n),#featuredetail .itemlist_style2 .itemlist_item_2:nth-child(4n) {margin-right: 0;}
#featuredetail .itemlist_style1 .itemlist_item:nth-child(-n+3),#featuredetail .itemlist_style2 .itemlist_item:nth-child(-n+4) {margin-top: 0;}
#featuredetail .itemlist_style1 .itemlist_item_2:nth-child(-n+3),#featuredetail .itemlist_style2 .itemlist_item_2:nth-child(-n+4) {margin-top: 0;}
#featuredetail .itemlist_style1 .itemlist_item:nth-child(3n+1),#featuredetail .itemlist_style2 .itemlist_item:nth-child(4n+1) {clear: both;}
#featuredetail .itemlist_style1 .itemlist_item_2:nth-child(3n+1),#featuredetail .itemlist_style2 .itemlist_item_2:nth-child(4n+1) {clear: both;}
#featuredetail .itemlist_item .image {margin: 0 0 10px;}
#featuredetail .itemlist_item_2 .image {margin: 0 0 10px;}
#featuredetail .itemlist_item a {display: block;}
#featuredetail .itemlist_item_2 a {display: block;}
#featuredetail .itemlist_item a:hover .image img {opacity: .7;-webkit-transition: opacity 300ms ease;transition: opacity 300ms ease;}
#featuredetail .itemlist_item_2 a:hover .image img {opacity: .7;-webkit-transition: opacity 300ms ease;transition: opacity 300ms ease;}
#featuredetail .itemlist_item .itemname {margin: .5em 0;font-size: 1.2rem;color: #999;}
#featuredetail .itemlist_item_2 .itemname {margin: .5em 0;font-size: 1.2rem;color: #999;}
#featuredetail .itemlist_item .price {margin: .5em 0;font-size: 1.2rem;font-weight: bold;}
#featuredetail .itemlist_item_2 .price {margin: .5em 0;font-size: 1.2rem;font-weight: bold;}
#featuredetail .fontsize_large {font-size: 2.4rem !important;font-weight: bold !important;}
#featuredetail .align_left {text-align: left !important;}
#featuredetail .align_center {text-align: center !important;}
#featuredetail .align_right {text-align: right !important;}
/* ----ヘルプメニュー---- */
#helpmenu {float: left;width: 232px;}
#helpmenu .helpmenu_title {margin: 0 0 1em;padding: 0 0 .6em;border-bottom: 1px solid #000;font-size: 1.6rem;font-weight: bold;}
#helpmenu .list_helpmenu {font-size: 1.4rem;}
#helpmenu .list_helpmenu_item {}
#helpmenu .list_helpmenu_item > a {display: block;padding: .8em 1.6em .8em .6em;border-bottom: 1px solid #e9e9e9;background: url("../img/usr/arrow5.png") no-repeat right .7em center;font-weight: bold;}
#helpmenu .list_helpmenu_item > a:hover {background-image: url("../img/usr/arrow4.png");background-color: #e9e9e9;color: #999;}
#helpmenu .list_helpmenu .list_second {}
#helpmenu .list_helpmenu .list_second_item {}
#helpmenu .list_helpmenu .list_second_item a {position: relative;display: block;padding: .8em 1em .8em 1.3em;border-bottom: 1px solid #e9e9e9;}
#helpmenu .list_helpmenu .list_second_item a::before {position: absolute;left: .6em;content: "-";}
#helpcontents {float: right;width: 900px;}
/* ----シルエットガイド---- */
#silhouette_guide {padding-bottom: 90px;}
#silhouette_guide .buttons {margin: 0 0 50px;font-size: 1.2rem;}
#silhouette_guide .buttons_item {float: left;width: 167px;margin: 1px 1px 0 0;}
#silhouette_guide .buttons_item:nth-child(-n+5) {margin-top: 0;}
#silhouette_guide .buttons_item:nth-child(5n) {width: 168px;margin-right: 0;}
#silhouette_guide .buttons_item:nth-child(5n+1) {clear: both;}
#silhouette_guide .buttons_item a {position: relative;display: block;padding: 7px 1.2em 7px .8em;background: #e9e9e9;}
#silhouette_guide .buttons_item.br a {padding: 16px 1.2em 17px .8em;}
#silhouette_guide .buttons_item a:hover {background: #5d5d5d;color: #fff;}
#silhouette_guide .buttons_item a::after {content: "";position: absolute;right: 10px;top: 50%;display: inline-block;width: 0;height: 0;margin-top: -3px;border-style: solid;border-width: 7px 4.5px 0 4.5px;border-color: #5d5d5d transparent transparent transparent;}
#silhouette_guide .buttons_item a:hover::after {border-color: #fff transparent transparent transparent;}
#silhouette_guide .section {margin: 0 0 65px;}
#silhouette_guide .title_section {margin: 0 0 .5em;padding: .1em .6em;background: #000;font-size: 2rem;font-weight: bold;color: #fff;}
#silhouette_guide .text_desc {font-size: 1.4rem;margin: 0 0 1.8em;}
#silhouette_guide .list_point {margin: 0 0 22px;}
#silhouette_guide .list_point_item {float: left;margin: 0 8px 8px 0;padding: .1em .8em;border: 1px solid #000;}
#silhouette_guide .block_image {display: table;margin: 0 0 30px;}
#silhouette_guide .block_image .subimage,#silhouette_guide .block_image .mainimage {display: table-cell;vertical-align: middle;}
#silhouette_guide .block_image .subimage {width: 300px;}
#silhouette_guide .block_image .mainimage {width: 540px;text-align: center;}
#silhouette_guide .detail_buttons {font-size: 1.2rem;}
#silhouette_guide .detail_buttons_item {float: left;width: 150px;margin: 0 16px 0 0;font-weight: bold;text-align: center;}
#silhouette_guide .detail_buttons_item:last-child {margin-right: 0;}
#silhouette_guide .detail_buttons_item a {display: block;padding: .8em 1em;border: 1px solid #000;line-height: 20px;}
#silhouette_guide .detail_buttons_item a::before {content: "";display: inline-block;margin: 0 .4em 0 0;width: 20px;height: 20px;background-repeat: no-repeat;background-position: center center;background-size: 20px auto;vertical-align: top;}
#silhouette_guide .detail_buttons_item.sizechart a::before {background-image: url("../img/silhouette_guide/icon_ruler1.png");margin-right: 2px;}
#silhouette_guide .detail_buttons_item.itempage a::before {background-image: url("../img/silhouette_guide/icon_cap1.png");}
#silhouette_guide .detail_buttons_item a:hover {background-color: #000;color: #fff;}
#silhouette_guide .detail_buttons_item.sizechart a:hover::before {background-image: url("../img/silhouette_guide/icon_ruler2.png");}
#silhouette_guide .detail_buttons_item.itempage a:hover::before {background-image: url("../img/silhouette_guide/icon_cap2.png");}
/* ----サイズチャート---- */
#size_chart {padding: 0 0 90px;}
#size_chart .buttons {margin: 0 0 25px;font-size: 1.4rem;}
#size_chart .buttons_item {float: left;width: 419px;margin: 0 1px 0 0;text-align: center}
#size_chart .buttons_item:last-child {width: 420px;margin-right: 0;}
#size_chart .buttons_item a {display: block;padding: .6em 1.2em .6em .8em;background: #e9e9e9;}
#size_chart .buttons_item a:hover {background: #5d5d5d;color: #fff;}
#size_chart .buttons_item a::after {content: "";display: inline-block;width: 0;height: 0;margin: -3px 0 0 10px;border-style: solid;border-width: 7px 4.5px 0 4.5px;border-color: #5d5d5d transparent transparent transparent;}
#size_chart .buttons_item a:hover::after {border-color: #fff transparent transparent transparent;}
#size_chart .subtitle {font-size: 1.6rem;font-weight: bold;margin: 0 0 1em;}
#size_chart #howtomeasure {margin: 0 0 60px;}
#size_chart #howtomeasure .title {margin: 0 0 2em;padding: 0 0 1.2em;border-bottom: 1px solid #000;font-size: 1.6rem;font-weight: bold;}
#size_chart .headwear {margin: 0 0 60px;}
#size_chart .headwear .textarea {float: left;width: 530px;}
#size_chart .headwear .textarea .text {margin: 0 0 1.5em;font-size: 1.3rem;}
#size_chart .headwear .textarea .text_red {font-weight: bold;color: #ca2424;}
#size_chart .headwear .textarea .text_blue {font-weight: bold;color: #2d01c1;}
#size_chart .headwear .imagearea {float: right;width: 250px;}
#size_chart .wear .text_intro {margin: 0 0 1.5em;font-size: 1.3rem;}
#size_chart .list_wear {}
#size_chart .list_wear_item {float: left;width: 201px;margin: 12px 12px 0 0;font-size: 1.3rem;text-align: center;}
#size_chart .list_wear_item:nth-child(4n) {margin-right: 0;}
#size_chart .list_wear_item:nth-child(-n+4) {margin-top: 0;}
#size_chart .list_wear_item:nth-child(4n+1) {clear: both;}
#size_chart .list_wear_item .text {margin: .5em 0 0;}
#size_chart .list_wear_item .text .note {display: inline-block;margin: .3em 0 0;font-size: 1.1rem;line-height: 1.4;}
#size_chart #sizetable {}
#size_chart #sizetable .title {padding: .3em .6em;background: #000;font-size: 1.6rem;font-weight: bold;color: #fff;}
#size_chart .sizetable_buttons {margin: 0 0 40px;font-size: 1.2rem;}
#size_chart .sizetable_buttons_item {float: left;display: table;width: 209px;margin: 1px 1px 0 0;}
#size_chart .sizetable_buttons_item.break {font-size: 1.1rem;line-height: 1.3;}
#size_chart .sizetable_buttons_item:nth-child(4n) {width: 210px;margin-right: 0;}
#size_chart .sizetable_buttons_item a,#size_chart .sizetable_buttons_item .empty {position: relative;display: table-cell;padding: .2em 1.2em .2em .8em;background: #e9e9e9;vertical-align: middle;}
#size_chart .sizetable_buttons_item.break a {}
#size_chart .sizetable_buttons_item a:hover {background: #5d5d5d;color: #fff;}
#size_chart .sizetable_buttons_item a::after {content: "";position: absolute;right: 10px;top: 50%;display: inline-block;width: 0;height: 0;margin-top: -3px;border-style: solid;border-width: 7px 4.5px 0 4.5px;border-color: #5d5d5d transparent transparent transparent;}
#size_chart .sizetable_buttons_item a:hover::after {border-color: #fff transparent transparent transparent;}
#size_chart #sizetable .section {margin: 0 0 40px;padding: 0 0 40px;border-bottom: 1px solid #000;}
#size_chart #sizetable .section:last-of-type {margin: 0;padding: 0;border-bottom: none;}
#size_chart #sizetable .section .outline {margin: 0 0 30px;}
#size_chart #sizetable .section .textarea {float: left;width: 660px;}
#size_chart #sizetable .section .text {font-size: 1.3rem;margin: 1.5em 0 0;}
#size_chart #sizetable .section .imagearea {float: right;width: 150px;}
#size_chart #sizetable .section .imagearea .image {border: 1px solid #d1d1d1;}
#size_chart #sizetable .section .imagearea .image img {}
#size_chart #sizetable .section .table_headwear {width: 100%;}
#size_chart #sizetable .section .table_headwear th,#size_chart #sizetable .section .table_headwear td {padding: 1em .3em;border: 1px solid #d1d1d1;text-align: center;}
#size_chart #sizetable .section .table_headwear th {font-size: 1.3rem;}
#size_chart #sizetable .section .table_headwear td {background: #f4f4f4;font-size: 1.2rem;}
#size_chart #sizetable .section .table_headwear td[colspan] {background: #010538;color: #fff;}
#size_chart #sizetable .section .table_headwear .fontsize_12,#size_chart #sizetable .section .table_headwear .fontsize_12 th,#size_chart #sizetable .section .table_headwear .fontsize_12 td {font-size: 1.2rem !important;}
#size_chart #sizetable .section .table_headwear .align_left,#size_chart #sizetable .section .table_headwear .align_left th,#size_chart #sizetable .section .table_headwear .align_left td {padding-right: .8em;padding-left: .8em;text-align: left !important;line-height: 1.4;}
#size_chart #sizetable .section .table_headwear .lineheight_14,#size_chart #sizetable .section .table_headwear .lineheight_14 th,#size_chart #sizetable .section .table_headwear .lineheight_14 td {line-height: 1.4 !important;}
/* ----ショッピングガイド---- */
#shopping_guide {padding: 0 0 40px;}
#shopping_guide .buttons {margin: 0 0 40px;font-size: 1.2rem;}
#shopping_guide .buttons_item {float: left;width: 209px;margin: 1px 1px 0 0;}
#shopping_guide .buttons_item:nth-child(-n+4) {margin-top: 0;}
#shopping_guide .buttons_item:nth-child(4n) {width: 210px;margin-right: 0;}
#shopping_guide .buttons_item:nth-child(4n+1) {clear: both;}
#shopping_guide .buttons_item a {position: relative;display: block;padding: .6em 1.2em .6em .8em;background: #e9e9e9;}
#shopping_guide .buttons_item a:hover {background: #5d5d5d;color: #fff;}
#shopping_guide .buttons_item a::after {content: "";position: absolute;right: 10px;top: 50%;display: inline-block;width: 0;height: 0;margin-top: -3px;border-style: solid;border-width: 7px 4.5px 0 4.5px;border-color: #5d5d5d transparent transparent transparent;}
#shopping_guide .buttons_item a:hover::after {border-color: #fff transparent transparent transparent;}
#shopping_guide .section {margin: 0 0 50px;}
#shopping_guide .section .title {margin: 0 0 1.6em;padding: 0 0 1em;border-bottom: 1px solid #000;font-size: 1.6rem;font-weight: bold;}
#shopping_guide .section .subtitle {margin: 2.5em 0 0;font-size: 1.3rem;font-weight: bold;}
#shopping_guide .section .text {margin: 1.5em 0;font-size: 1.3rem;}
#shopping_guide .section .subtitle + .text {margin-top: 0;}
/* ----よくある質問---- */
#faq {padding: 0 0 40px;}
#faq .buttons {margin: 0 0 40px;font-size: 1.2rem;}
#faq .buttons_item {float: left;width: 279px;display: table;margin: 1px 1px 0 0;}
#faq .buttons_item.break {line-height: 1.3;}
#faq .buttons_item:nth-child(-n+3) {margin-top: 0;}
#faq .buttons_item:nth-child(3n) {width: 280px;margin-right: 0;}
#faq .buttons_item:nth-child(3n+1) {clear: both;}
#faq .buttons_item a {position: relative;display: table-cell;padding: .4em 1.2em .4em .8em;background: #e9e9e9;vertical-align: middle;}
#faq .buttons_item a:hover {background: #5d5d5d;color: #fff;}
#faq .buttons_item a::after {content: "";position: absolute;right: 10px;top: 50%;display: inline-block;width: 0;height: 0;margin-top: -3px;border-style: solid;border-width: 7px 4.5px 0 4.5px;border-color: #5d5d5d transparent transparent transparent;}
#faq .buttons_item a:hover::after {border-color: #fff transparent transparent transparent;}
#faq .section {margin: 0 0 50px;}
#faq .section .title {margin: 0 0 1em;padding: 0 0 1em;border-bottom: 1px solid #000;font-size: 1.6rem;font-weight: bold;}
#faq .section .text {margin: 1.5em 0;font-size: 1.3rem;}
#faq .section .text a {text-decoration: underline;}
/* ----ニューエラについて---- */
#about {padding: 0 0 90px;}
#about .mainimage {position: relative;margin: 0 0 45px;}
#about .mainimage .title_style1 {position: absolute;top: 50%;width: 100%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
#about .mainimage .title_style1 strong::after {margin-top: 24px;}
#about .mainimage .title_style1 span {margin-top: 10px;font-size: 2.4rem;}
#about .mainimage .image {}
#about .text_intro {margin: 0 0 2em;font-size: 1.4rem;text-align: center;}
#about .subtitle {margin: 45px 0 1.8em;padding: .3em 1em;background: #000;font-size: 2rem;font-weight: bold;color: #fff;text-align: center;}
#about .itemlist_item {float: left;}
#about .itemlist_item a {display: block;}
#about .itemlist_col2 .itemlist_item {width: 400px;margin: 40px 40px 0 0;}
#about .itemlist_col2 .itemlist_item:nth-child(2n) {margin-right: 0;}
#about .itemlist_col2 .itemlist_item:nth-child(-n+2) {margin-top: 0;}
#about .itemlist_col2 .itemlist_item:nth-child(2n+1) {clear: both;}
#about .itemlist_col2 .itemlist_item .image {margin: 0 50px;}
#about .itemlist_col3 .itemlist_item {width: 260px;margin: 30px 30px 0 0;}
#about .itemlist_col3 .itemlist_item:nth-child(3n) {margin-right: 0;}
#about .itemlist_col3 .itemlist_item:nth-child(-n+3) {margin-top: 0;}
#about .itemlist_col3 .itemlist_item:nth-child(3n+1) {clear: both;}
#about .itemlist_col3 .itemlist_item .image {margin: 0 10px 15px;}
#about .itemlist_col4 .itemlist_item {width: 210px;margin: 10px 0 0;}
#about .itemlist_col4 .itemlist_item:nth-child(-n+4) {margin-top: 0;}
#about .itemlist_col4 .itemlist_item:nth-child(4n+1) {clear: both;}
#about .itemlist_item .image img {-webkit-transition: opacity 300ms ease;transition: opacity 300ms ease;backface-visibility: hidden;}
#about .itemlist_item .image a:hover img {opacity: .7;}
#about .itemlist_item .image {text-align: center;}
#about .itemlist_item .itemname {font-size: 1.8rem;font-weight: bold;margin: 0 0 .6em;}
#about .itemlist_item .text {font-size: 1.3rem;margin: 0 0 1.5em;}
#about .detail_buttons {font-size: 1.2rem;text-align: center;}
#about .detail_buttons_item {display: inline-block;width: 150px;margin: 0 6px;font-weight: bold;vertical-align: top;}
#about .detail_buttons_item a {display: block;padding: .8em .5em;border: 1px solid #000;line-height: 20px;}
#about .detail_buttons_item a::before {content: "";display: inline-block;margin: 0 .4em 0 0;width: 20px;height: 20px;background-repeat: no-repeat;background-position: center center;background-size: 20px auto;vertical-align: top;}
#about .detail_buttons_item.silhouetteguide a::before {margin-right: 2px;background-image: url("../img/about/icon_ruler1.png");}
#about .detail_buttons_item.itempage a::before {background-image: url("../img/about/icon_cap1.png");}
#about .detail_buttons_item a:hover {background-color: #000;color: #fff;}
#about .detail_buttons_item.silhouetteguide a:hover::before {background-image: url("../img/about/icon_ruler2.png");}
#about .detail_buttons_item.itempage a:hover::before {background-image: url("../img/about/icon_cap2.png");}
#about .banner_22steps {position: relative;margin: 60px 0;}
#about .banner_22steps .title {position: absolute;top: 50%;width: 100%;text-align: center;z-index: 1;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
#about .banner_22steps .image {position: relative;height: 240px;overflow: hidden;}
#about .banner_22steps .image img {position: absolute;top: 50%;width: 100%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
#about .title_history {position: relative;margin: 60px 0 0;}
#about .title_history .title_style1 {position: absolute;top: 50%;width: 100%;-webkit-transform: translateY(-50%);transform: translateY(-50%);z-index: 1;}
#about .title_history .image {position: relative;height: 240px;overflow: hidden;}
#about .title_history .image img {position: absolute;top: 50%;width: 100%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
#about .video {position: relative;width: 100%;height: 0;margin: 0 0 60px;overflow: hidden;padding-bottom: 56.2%;}
#about .video iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#about .list_history {}
#about .list_history_item {display: table;}
#about .list_history_item .imagearea,#about .list_history_item .textarea {display: table-cell;width: 420px;vertical-align: middle;}
#about .list_history_item .textarea .date {position: relative;text-align: center;}
#about .list_history_item .textarea .date::before {content: "";position: absolute;top: 50%;display: inline-block;width: 210px;height: 1px;background: #999;z-index: -1;}
#about .list_history_item .textarea .date span {display: inline-block;padding: 1em 2em;border: 1px solid #999;background: #fff;}
#about .list_history_item .textarea .text {margin: 1.5em 0 0;font-size: 1.4rem;}
#about .list_history_item:nth-child(odd) .textarea .date::before {left: 0;}
#about .list_history_item:nth-child(odd) .textarea .text {margin-left: 20px;}
#about .list_history_item:nth-child(even) .textarea .date::before {right: 0;}
#about .list_history_item:nth-child(even) .textarea .text {margin-right: 20px;}
#about .btn_more a::after {width: 11px;height: 9px;margin-top: 5px;background: url("../img/about/icon_externallink1.png") no-repeat center;background-size: 11px auto;}
#about .btn_more a:hover::after {background-image: url("../img/about/icon_externallink2.png");}

/* ----CHRISTMAS GIFT SELLECTION ---- */
#xmas2018 { position: relative; background: url(../img/christmas2018/bg.jpg) no-repeat center center; background-size: cover; background-attachment: fixed; }
.xmas2018__visual { position: relative; width: 100%; }
.xmas2018__visual__frame { position: relative; width: 100%; }
.xmas2018__visual__move { width: 100%; }
.xmas2018__visual--item { width: 100%; }
.xmas2018__visual--item img { width: 100%; max-width: inherit; }
.xmas2018__nav { padding: 54px 0 64px; }
.xmas2018__nav--text { text-align: center; font-size: 1.6rem; line-height: 1.8; }
.xmas2018__nav__box { margin-top: 42px; }
.xmas2018__nav__links { display: flex; justify-content: center; margin-top: 18px; }
.xmas2018__nav__links:first-child { margin-top: 0; }
.xmas2018__nav--item { margin: 0 5px; width: 204px; height: 72px; text-align: center; font-size: 1.8rem; font-weight: bold; line-height: 1.2; }
.xmas2018__nav--item a { display: block; position: relative; -webkit-transition: ease .3s; transition: ease .3s; padding-top: 22px; width: 100%; height: 100%; background-color: #08172d; background-position: center center; background-repeat: no-repeat; -webkit-box-sizing: border-box; box-sizing: border-box; color: #e8c48a; }
.xmas2018__nav--item a:after { content: ' '; display: block; margin: 4px auto 0; width: 11px; height: 6px; background: url(../img/christmas2018/arrow_down.png) no-repeat center center; }
.xmas2018__nav--item a:hover { background-image: none; }
.xmas2018__nav--item--cap a { background-image: url(../img/christmas2018/nav_cap.jpg); }
.xmas2018__nav--item--knit_cap a { background-image: url(../img/christmas2018/nav_knit_cap.jpg); }
.xmas2018__nav--item--bag a { background-image: url(../img/christmas2018/nav_bag.jpg); }
.xmas2018__nav--item--wear a { background-image: url(../img/christmas2018/nav_wear.jpg); }
.xmas2018__nav--item--accessory a { background-image: url(../img/christmas2018/nav_accessory.jpg); }
.xmas2018__nav--item--kids a { background-image: url(../img/christmas2018/nav_kids.jpg); }
.xmas2018__nav--item--golf a { background-image: url(../img/christmas2018/nav_golf.jpg); }
.xmas2018__prd { position: relative; }
.xmas2018__prd__main { position: relative; width: 100%; height: 600px; background: url(../img/christmas2018/star_bg1.jpg) no-repeat center top #010e1c; background-size: 100%; }
.xmas2018__prd__main .wrap { display: flex; align-items: center; height: 100%; }
.xmas2018__prd__main--photo { width: 646px; height: 100%; overflow: hidden; }
.xmas2018__prd__main--photo a { display: block; position: relative; }
.xmas2018__prd__main--photo img { -webkit-transition: ease .3s; transition: ease .3s; }
.xmas2018__prd__main--photo a:hover img { transform: scale(1.1,1.1); }
.xmas2018__prd__main__info { padding-left: 47px; width: 474px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.xmas2018__prd__main--title {}
.xmas2018__prd__main--text { margin-top: 92px; font-size: 1.6rem; color: #fff; }
.xmas2018__prd__main--link { margin-top: 40px; font-size: 1.6rem; }
.xmas2018__prd__main--link a { display: inline-block; text-decoration: underline; vertical-align: top; color: #e8c48a; }
.xmas2018__prd__main--link a:hover { text-decoration: none; }
.xmas2018__prd__lists { position: relative; padding: 40px 0 140px; }
.xmas2018__prd__item { position: relative; float: left; margin-top: 30px; width: 544px; height: 326px; }
.xmas2018__prd__item:nth-of-type(-n+2) { margin-top: 0; }
.xmas2018__prd__item:nth-of-type(2n) { float: right; }
.xmas2018__prd__item > a { display: flex; align-items: center; position: relative; width: 100%; height: 100%; background: url(../img/christmas2018/star_bg2.jpg) no-repeat right top #010e1c; }
.xmas2018__prd__item > a:after { content: ' '; position: absolute; bottom: 30px; right: 28px; width: 136px; height: 12px; background: url(../img/christmas2018/arrow.png) no-repeat center center; }
.xmas2018__prd__item--photo { position: relative; width: 360px; height: 100%; overflow: hidden; }
.xmas2018__prd__item--photo img { -webkit-transition: ease .3s; transition: ease .3s; }
.xmas2018__prd__item > a:hover .xmas2018__prd__item--photo img { transform: scale(1.1,1.1); }
.xmas2018__prd__item__info { padding-left: 20px; width: 184px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.xmas2018__prd__item--title {}
.xmas2018__other { position: relative; padding: 64px 0 80px; background: #010e1c; }
.xmas2018__other__item { position: relative; float: left; margin-top: 80px; width: 544px; }
.xmas2018__other__item:nth-of-type(-n+2) { margin-top: 0; }
.xmas2018__other__item:nth-of-type(2n) { float: right; }
.xmas2018__other--photo { width: 100%; overflow: hidden; }
.xmas2018__other--photo a { display: block; position: relative; }
.xmas2018__other--photo img { -webkit-transition: ease .3s; transition: ease .3s; }
.xmas2018__other--photo a:hover img { transform: scale(1.1,1.1); }
.xmas2018__other__info { padding: 62px 40px 0; width: 100%; height: 320px; background: url(../img/christmas2018/star_bg3.jpg) no-repeat center top; -webkit-box-sizing: border-box; box-sizing: border-box; }
.xmas2018__other--title {}
.xmas2018__other--text { margin-top: 24px; min-height: 110px; font-size: 1.5rem; color: #fff; }
.xmas2018__other--link { font-size: 1.6rem; text-align: right; }
.xmas2018__other--link a { display: inline-block; text-decoration: underline; vertical-align: top; color: #e8c48a; }
.xmas2018__other--link a:hover { text-decoration: none; }
.xmas2018__gift { padding: 120px 0; }
.xmas2018__gift__box { position: relative; padding: 115px 0 0 120px; width: 100%; height: 596px; background: url(../img/christmas2018/gift_bg.jpg) no-repeat center center; -webkit-box-sizing: border-box; box-sizing: border-box; }
.xmas2018__gift--title {}
.xmas2018__gift--text { margin-top: 20px; font-size: 1.8rem; }
.xmas2018__gift--btn { margin-top: 22px; width: 292px; height: 48px; text-align: center; font-size: 1.8rem; font-weight: bold; line-height: 48px; }
.xmas2018__gift--btn a { display: block; -webkit-transition: ease .3s; transition: ease .3s; background: #010e1c; color: #fff; }
.xmas2018__gift--btn a:hover { opacity: .6; }
