@charset "UTF-8";
/* ----カスタマーレビュー一覧---- */
.common_headline2_.userreview_ {
	padding:10px 10px 8px 35px;
	margin-bottom:10px;
	border:#e5e5e5 1px solid;
	font-size: 14px;
	font-weight: bold;
	color:#555555;
	background:#f2f2f2 url(img/icon_review.png) 10px center no-repeat;
}
div.review_ {
	width:960px;
	margin:0 auto;
}
/* レビュー情報 */
div.review_intro_ {
	margin-bottom: 20px;
	padding-bottom: 10px;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dotted #CCC;
}
div.review_info_ {
	width: 100%;
	overflow: hidden;
}
div.review_count_summary_ {
	width: 179px;
	padding: 10px;
	border-right:#CCC 1px dotted;
	float: left;
}
div.review_count_summary_ dl.review_score_ {
	width: 100%;
	overflow: hidden;
}
div.review_count_summary_ dl.review_score_ dd img {
	height:14px;
}
div.review_count_summary_ dl.review_score_ dt {
	float: left;
	display: inline;
	font-weight: bold;
}
div.review_count_summary_ dl.review_count_ {
	width: 100%;
	overflow: hidden;
}
div.review_count_summary_ dl.review_count_ dt {
	float: left;
	display: inline;
	font-weight: bold;
}
div.review_desc_ {
	float: right;
	display: inline;
	width: 360px;
}
div.review_desc_ .btn_review_ {
	margin-top: 10px;
	text-align: right;
}
div.review_desc_ .btn_review_ a {
	text-decoration:underline;
}
.review_pagenav_ {
	margin: 0 0 10px 0;
	clear: both;
	background: #F0F0F0;
	padding: 5px;
}
/**/
/* ページ切換 */
div#page_changer_top .pager_ref_ {
	margin: 2px 5px;
	color: #003780;
	text-decoration: underline;
	font-weight: bold;
	white-space: nowrap;
}
div#page_changer_top .pager_now_ {
	margin: 2px 5px;
	color:#3fbf0d;
	font-weight: bold;
	white-space: nowrap;
}
span.moderate_vote_link_ {
	cursor: pointer;
	text-decoration: underline;
}
div.moderate_vote_list_ {
	background-color: #ffffff;
	position: absolute;
	z-index: 1;
	display: none;
	border: solid 1px #ffcc33;
}
span.moderate_vote_item_ {
	cursor: pointer;
	font-size: x-small;
}
/**/
/* レビュー記事 */
.review_line_ {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	overflow: hidden;
	border-bottom: 1px dotted #CCC;
}
.review_line_title_ {
	margin: 0 0 10px 0;
	padding: 5px 0;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #CCC;
}
div.review_line_summary_ {
	margin-bottom: 10px;
}
div.review_line_summary_ dl.review_line_name_ {
	width: 100%;
	overflow: hidden;
}
div.review_line_summary_ dl.review_line_name_ dt {
	float: left;
	display: inline;
	font-weight: bold;
}
div.review_line_summary_ dl.review_line_name_ dt img {
	height:14px;
	padding:0 10px 0 0;
}
.review_line_comment_ {
	margin-bottom: 10px;
}
.moderate_vote_ {
	padding: 5px;
	font-weight: bold;
	background: #F0F0F0;
}
.moderate_info1_ {
	margin-top: 10px;
}
.moderate_info2_ {
	margin-top: 10px;
}
.moderate_info2_ span {
	cursor:pointer;
	text-decoration:underline!important;
}
.mode_select_line_ {
	cursor: pointer;
}
#review_form {
	margin-bottom:30px;
	text-align: right;
}
/**/
/* ----カスタマーレビュー投稿画面---- */
/* 入力画面 */
div.review_ {
	padding:0px 60px 0px 60px;
}
.review_table_ {
	margin: 20px 0;
	border-collapse: collapse;
	width:100%;
}
.review_table_ th {
	font-weight: bold;
	white-space: nowrap;
	vertical-align: top;
}
.review_submit_ {
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	border-bottom: 1px dotted #CCC;
}
.review_backbutton_ {
	margin: 20px 0 0 0;
	text-align:center;
}
span.title_ {
	float: left;
}

/**/
/* 確認画面 */
div.confirm_layer_frame_ {
	margin-top: 20px;
}
div.review_confirm_ {
	background-color: #ffffff;
	display: none;
}
/**/
